<!DOCTYPE html>
<html ng-app="ShufflingPinesApp">

<head>
  <meta charset="utf-8" />
  <title>Shuffling Pines</title>

  <link rel="stylesheet" href="css/styles.css" />
  <script src="lib.js"></script>
  <script src="app.js"></script>
</head>

<body>
  <h1>Shuffling Pines</h1>
  <div class="row">
    <div class="col-md-12">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#form" aria-controls="form" role="tab" data-toggle="tab">Form</a>
        </li>
        <li role="presentation">
          <a id="guestsTab" href="#guests" aria-controls="guests" role="tab" data-toggle="tab">Guests</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Tab pane 1 -->
        <div ng-controller="FormController as formVm" role="tabpanel" class="tab-pane active" id="form">
          <form class="col-md-6 well" ng-submit = "formVm.submitForm()">
            <div class="form-group">
              <label for="guest-name">Guest Name</label>
              <input ng-model="formVm.input.name" type="text" class="form-control" id="guest-name" placeholder="" required>
            </div>
            <div class="form-group">
              <label for="transition-date">Transition Date</label>
              <input ng-model="formVm.input.transitionDate" type="date" class="form-control" id="transition-date" placeholder="">
            </div>
            <div class="radio">
              <label>
                <input ng-model="formVm.input.actionOption" type="radio" name="pickup-dropoff" id="pickup" value="pickup" checked >
                Pick-up
              </label>
            </div>
            <div class="radio">
              <label>
                <input ng-model="formVm.input.actionOption" type="radio" name="pickup-dropoff" id="dropoff" value="dropoff">
                Drop-off
              </label>
            </div>
            <div class="form-group" ng-show = "formVm.needShowLocation()">
              <label for="location">Location</label>
              <textarea ng-model="formVm.input.pickupLocation" class="form-control" id="location" ng-required=""></textarea>
            </div>
            <button type="submit" class="btn">Submit</button>
          </form>

          <!-- bound display -->
          <div ng-show="true" class="col-md-6 well">
            <div ng-show="true" class="form-group">
              <label>Name: </label>
              {{formVm.input.name}}
            </div>
            <div ng-show="true" class="form-group">
              <label>Transition Date: </label>
              {{formVm.input.transitionDate.toDateString()}}
            </div>
            <div ng-show="true" class="form-group">
              <label>Action Option: </label>
              {{formVm.input.actionOptionString()}}
            </div>
            <div ng-show="formVm.input.actionOption === 'pickup'" class="form-group">
              <label>Location: </label>
              {{formVm.input.pickupLocation}}
            </div>
          </div>
        </div>

        <!-- Tab pane 2 -->
        <!-- <div role="tabpanel" class="tab-pane" id="guests"> -->
        <div ng-controller="GuestsController as guestsVm" role="tabpanel" class="tab-pane" id="guests">
          <button ng-show="guestsVm._DEBUG" type="button" class="btn row" ng-click="guestsVm.deleteAllGuests()">Clear All</button>

          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-sm-3">Name</th>
                <th class="col-sm-2">Transition Date</th>
                <th class="col-sm-3">Status</th>
                <th class="col-sm-3">Pickup Location</th>
                <th class="col-sm-1">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat = "(index, guest) in guestsVm.getGuestList()"
                  ng-include="guestsVm.getGuestRowTemplate(index)">
                <!-- <td ng-class="{deleted_guest: guestsVm.isSoftDeleted(index)}" ng-click="guestsVm.onBeginEdit(index, 'name')">
                  <span ng-hide="guestsVm.isInEditMode(index, 'name')">{{guest.name}}</span>
                  <form class="form-inline" ng-submit="guestsVm.onEndEdit()">
                    <input ng-model="guestsVm.edit.data.name" type="text" ng-show="guestsVm.isInEditMode(index, 'name')" ng-blur="guestsVm.onEndEdit()" >
                  </form>
                </td>
                <td ng-class="{deleted_guest: guestsVm.isSoftDeleted(index)}">{{guest.transitionDate.toDateString()}}</td>
                <td ng-class="{deleted_guest: guestsVm.isSoftDeleted(index)}">
                  <form class="form-inline">
                    <span class="label label-primary">
                      {{guestsVm.getCurrentStatusString(index)}}
                    </span>&nbsp;
                    <label ng-show="guestsVm.needToShowChangeStateButton(index, 'Arrived')">
                      <button type="button" class="btn btn-circle btn-sm" ng-click="guestsVm.onClickChangeActionState(index)"
                              ng-class="{deleted_guest: guestsVm.isSoftDeleted(index)}" ng-disabled="guestsVm.isSoftDeleted(index)">
                        <span class="glyphicon glyphicon-circle-arrow-right"></span>
                        {{guest.getStatusString(1)}}
                      </button>
                    </label>
                    <label ng-show="guestsVm.needToShowChangeStateButton(index, 'Pickup')">
                      <button type="button" class="btn btn-circle btn-sm" ng-click="guestsVm.onClickChangeActionState(index)"
                              ng-class="{deleted_guest: guestsVm.isSoftDeleted(index)}" ng-disabled="guestsVm.isSoftDeleted(index)">
                        <span class="glyphicon glyphicon-circle-arrow-right"></span>
                        {{guest.getStatusString(2)}}
                      </button>
                    </label>
                  </form>
                </td>
                <td ng-class="{deleted_guest: guestsVm.isSoftDeleted(index)}" ng-disabled="guestsVm.isSoftDeleted(index)">{{guest.getPickupLocation()}}</td>
                <td>
                  <form class="form-inline">
                    <input ng-model="guest.isDeleted" type="checkbox" ng-change="guestsVm.onChangeSoftDeleteGuest(index)">
                    <button type="button" class="btn btn-danger btn-circle btn-sm" ng-click="guestsVm.deleteGuest(index)" ng-show="guestsVm.isSoftDeleted(index)">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                  </form>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</body>

<script type="text/ng-template" id="display_guest_row_tpl">
  <td ng-class="{deleted_guest: guestsVm.isSoftDeleted(index)}" ng-click="guestsVm.onBeginEdit(index, 'name')">
    <span ng-hide="guestsVm.isInEditMode(index, 'name')">{{guest.name}}</span>
  </td>
  <td ng-class="{deleted_guest: guestsVm.isSoftDeleted(index)}">{{guest.transitionDate.toDateString()}}</td>
  <td ng-class="{deleted_guest: guestsVm.isSoftDeleted(index)}">
    <form class="form-inline">
      <span class="label label-primary">
        {{guestsVm.getCurrentStatusString(index)}}
      </span>&nbsp;
      <label ng-show="guestsVm.needToShowChangeStateButton(index, 'Arrived')">
        <button type="button" class="btn btn-circle btn-sm" ng-click="guestsVm.onClickChangeActionState(index)"
                ng-class="{deleted_guest: guestsVm.isSoftDeleted(index)}" ng-disabled="guestsVm.isSoftDeleted(index)">
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
          {{guest.getStatusString(1)}}
        </button>
      </label>
      <label ng-show="guestsVm.needToShowChangeStateButton(index, 'Pickup')">
        <button type="button" class="btn btn-circle btn-sm" ng-click="guestsVm.onClickChangeActionState(index)"
                ng-class="{deleted_guest: guestsVm.isSoftDeleted(index)}" ng-disabled="guestsVm.isSoftDeleted(index)">
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
          {{guest.getStatusString(2)}}
        </button>
      </label>
    </form>
  </td>
  <td ng-class="{deleted_guest: guestsVm.isSoftDeleted(index)}" ng-disabled="guestsVm.isSoftDeleted(index)">{{guest.getPickupLocation()}}</td>

  <td>
    <form class="form-inline">
      <button type="button" class="btn btn-default btn-circle btn-sm" ng-click="guestsVm.onBeginEdit(index)" ng-hide="guestsVm.isSoftDeleted(index)">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button type="button" class="btn btn-default btn-circle btn-sm" ng-click="guestsVm.softDeleteGuest(index)" ng-hide="guestsVm.isSoftDeleted(index)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>

      <button type="button" class="btn btn-danger btn-circle btn-sm" ng-click="guestsVm.deleteGuest(index)" ng-show="guestsVm.isSoftDeleted(index)">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button type="button" class="btn btn-default btn-circle btn-sm" ng-click="guest.isDeleted=false; guestsVm.onChangeSoftDeleteGuest(index)" ng-show="guestsVm.isSoftDeleted(index)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </form>
  </td>

</script>
<script type="text/ng-template" id="edit_guest_row_tpl">
  <td> <input ng-model="guestsVm.edit.data.name" type="text"> </td>
  <td> <input ng-model="guestsVm.edit.data.transitionDate" type="date"> </td>
  <td>
      <span class="label label-primary">
        {{guestsVm.getCurrentStatusString(index)}}
      </span>
  </td>
  <td><input ng-model="guestsVm.edit.data.pickupLocation" type="text"></td>
  <td>
    <form class="form-inline">
      <button type="button" class="btn btn-success btn-circle btn-sm" ng-click="guestsVm.onOKEdit()">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button type="button" class="btn btn-danger btn-circle btn-sm" ng-click="guestsVm.onCancelEdit()">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </form>
  </td>
</script>

</html>
